@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
.page3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    font-family: "Quicksand", sans-serif;
  }  

  .inputBx3{
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border:none;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    background: linear-gradient(45deg, rgb(17, 16, 16), rgb(106, 104, 103));
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }

  .inputBx3:hover {
    background-color: #007bff ;
  } 
